<!-- ============================================ -->
<!--                  Subscribe                   -->
<!-- ============================================ -->

<section id="subscribe-1717">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Stay Ahead of the Market</span>
            <h2 class="cs-title">Be the First to See Off-Market Homes!</h2>
            <p class="cs-text">
                Don’t miss out on off-market deals! Sign up today and get instant alerts when a new pre-listing is available—before it hits the market.
            </p>
            <form class="cs-form" name="Contact Form" method="post">
                <input class="cs-input" type="email" id="cs-email-301-1717" name="find-us" placeholder="Email Address" required>
                <button class="cs-button-solid cs-submit" type="submit">Subscribe</button>
            </form>
            <!--Graphic-->
            <img class="cs-floater" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-spiral.svg" alt="graphic" width="1920" height="486" aria-hidden="true">
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/offcta.jpg?updatedAt=1743377176984">
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/offcta.jpg?updatedAt=1743377176984">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/offcta.jpg?updatedAt=1743377176984" alt="people" width="1920" height="486" aria-hidden="true">
    </picture>
</section>
                                