---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2041">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Dental Care for Everyone</span>
            <h1 class="cs-title">Get Exclusive Access to Off-Market Homes Before Anyone Else!</h1>
            <p class="cs-text">Join our list to see homes before they hit Zillow & the MLS.</p>
            <a href="" class="cs-button-solid">Get Started</a>
            <!--Bottom Corners-->
        </div>
        <form class="cs-form" id="cs-form-2041" name="Landing Form">
            <label class="cs-label">
                <div class="cs-flex">
                    Email <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="text" id="email-2041" name="email" placeholder="Your email">
            </label>
            <label class="cs-label">
                <div class="cs-flex">
                    Phone <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="tel" id="phone-2041" name="phone" placeholder="Phone number">
            </label>
            <label class="cs-label">
                <div class="cs-flex">
                    Date <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="date" id="date-2041" name="date" placeholder="Choose a date">
            </label>
            <button class="cs-button-solid cs-submit">Get Acess</button>
        </form>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/David-hero-mobile.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/David.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/David.jpg" alt="meeting" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
    {% include 'components/cta.html' %}
{% endblock %}