---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2041">
    <div class="cs-container">
        <div class="cs-content">
            
            <h1 class="cs-title">Exclusive Access to <br> Off-Market Homes First!</h1>
            <p class="cs-text">Join our list to see homes before they hit Zillow & the MLS.</p>
            <a href="" class="cs-button-solid"></a>
            <!--Bottom Corners-->
        </div>
        <form class="cs-form" id="cs-form-2041" name="Landing Form">
            <label class="cs-label">
                <div class="cs-flex">
                    Name <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="name" id="name-2041" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                <div class="cs-flex">
                    Email <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="text" id="email-2041" name="email" placeholder="Your email">
            </label>
            <label class="cs-label">
                <div class="cs-flex">
                    Phone <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="tel" id="phone-2041" name="phone" placeholder="Phone number">
            </label>
           
            <button class="cs-button-solid cs-submit">Get Access</button>
        </form>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <!-- {% getUrl '/assets/images/banner.jpg' | resize({ width: 900, height:600}) | webp %} -->
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/sparkhomeimage.jpg' | resize({ width: 1000, height:800}) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/sparkhomeimage.jpg' | resize({ width: 1000, height:800}) | webp %}">
        <img loading="lazy" decoding="async" src="{% getUrl '/assets/images/sparkhomeimage.jpg' | resize({ width: 1000, height:800}) | webp %}" alt="meeting" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>



<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="services-1331">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Process</span>
                <h2 class="cs-title">How Does This Work?</h2>
            </div>
            <p class="cs-text">
                Get exclusive early access to homes before they hit the market—no bidding wars, less competition, and a better chance to secure your perfect home!
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 1</span>
                    <h3 class="cs-h3">Join the List</h3>
                    <p class="cs-item-text">
                        Sign up with your email for exclusive early access
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 2</span>
                    <h3 class="cs-h3">Browse Pre-Listed Homes</h3>
                    <p class="cs-item-text">
                        Get notified when a new flip is coming soon
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 3</span>
                    <h3 class="cs-h3">Make Your Move First</h3>
                    <p class="cs-item-text">
                        Schedule a viewing before the public
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg" alt="building"
                width="1920" height="700" decoding="async" loading="lazy">
    </picture>
</section>
                                



<!-- ============================================ -->
<!--                    Events                    -->
<!-- ============================================ -->

<section id="events-1764">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Early Acesss</span>
            <h2 class="cs-title">Homes Coming Soon!</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomeimage.png?updatedAt=1743374558318">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomeimage.png?updatedAt=1743374558318">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/sparkhomeimage.png?updatedAt=1743374558318" alt="people" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">7821 E 77th Place, Tulsa, OK 74133</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Going Live:</span> April 23, 2025
                        </span>
                        
                    </div>
                    <div class="cs-bar"></div>
                </div>
                <div class="cs-instructor">
                    <picture class="cs-portrait">
                        <img src="https://ik.imagekit.io/6ycdefzj5/agentcircle.png?updatedAt=1743376347505" alt="portrait" height="32" width="32" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-instructor-info">
                        <h3 class="cs-name">David Fletcher</h3>
                        <span class="cs-job">Listing Agent</span>
                    </div>
                    <span class="cs-price">$280,000</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhome%202.png?updatedAt=1743375197412">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhome%202.png?updatedAt=1743375197412">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/sparkhome%202.png?updatedAt=1743375197412" alt="people" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">10919 E 28th Street, Tulsa, OK 74129</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Going Live:</span> April 23, 2025
                        </span>
                        
                    </div>
                    <div class="cs-bar"></div>
                </div>
                <div class="cs-instructor">
                    <picture class="cs-portrait">
                        <img src="https://ik.imagekit.io/6ycdefzj5/agentcircle.png?updatedAt=1743376347505" alt="portrait" height="32" width="32" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-instructor-info">
                        <h3 class="cs-name">David Fletcher</h3>
                        <span class="cs-job">Listing Agent</span>
                    </div>
                    <span class="cs-price">$219,000</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616" alt="people" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">4329 S Cedar Court, Broken Arrow, OK 74011</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Going Live:</span> April 23, 2025
                        </span>
                        
                    </div>
                    <div class="cs-bar"></div>
                </div>
                <div class="cs-instructor">
                    <picture class="cs-portrait">
                        <img src="https://ik.imagekit.io/6ycdefzj5/agentcircle.png?updatedAt=1743376347505" alt="portrait" height="32" width="32" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-instructor-info">
                        <h3 class="cs-name">David Fletcher</h3>
                        <span class="cs-job">Listing Agent</span>
                    </div>
                    <span class="cs-price">$221,700</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616" alt="people" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">4329 S Cedar Court, Broken Arrow, OK 74011</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Going Live:</span> April 23, 2025
                        </span>
                        
                    </div>
                    <div class="cs-bar"></div>
                </div>
                <div class="cs-instructor">
                    <picture class="cs-portrait">
                        <img src="https://ik.imagekit.io/6ycdefzj5/agentcircle.png?updatedAt=1743376347505" alt="portrait" height="32" width="32" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-instructor-info">
                        <h3 class="cs-name">David Fletcher</h3>
                        <span class="cs-job">Listing Agent</span>
                    </div>
                    <span class="cs-price">$221,700</span>
                </div>
            </li>

            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616" alt="people" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">4329 S Cedar Court, Broken Arrow, OK 74011</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Going Live:</span> April 23, 2025
                        </span>
                        
                    </div>
                    <div class="cs-bar"></div>
                </div>
                <div class="cs-instructor">
                    <picture class="cs-portrait">
                        <img src="https://ik.imagekit.io/6ycdefzj5/agentcircle.png?updatedAt=1743376347505" alt="portrait" height="32" width="32" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-instructor-info">
                        <h3 class="cs-name">David Fletcher</h3>
                        <span class="cs-job">Listing Agent</span>
                    </div>
                    <span class="cs-price">$221,700</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/sparkhomes3.png?updatedAt=1743375343616" alt="people" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">4329 S Cedar Court, Broken Arrow, OK 74011</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Going Live:</span> April 23, 2025
                        </span>
                        
                    </div>
                    <div class="cs-bar"></div>
                </div>
                <div class="cs-instructor">
                    <picture class="cs-portrait">
                        <img src="https://ik.imagekit.io/6ycdefzj5/agentcircle.png?updatedAt=1743376347505" alt="portrait" height="32" width="32" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-instructor-info">
                        <h3 class="cs-name">David Fletcher</h3>
                        <span class="cs-job">Listing Agent</span>
                    </div>
                    <span class="cs-price">$221,700</span>
                </div>
            </li>
        </ul>
    </div>
</section>



<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1630">
    <div class="cs-container">
        <div class="cs-flex">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/pexels.jpg?updatedAt=1743439557379">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/pexels.jpg?updatedAt=1743439557379">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/pexels.jpg?updatedAt=1743439557379" alt="therapy" width="608" height="400">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Why Should I Care?</span>
                <h2 class="cs-title">Buy with less competition and deal directly with the seller for a smoother, stress-free experience.</h2>
                <p class="cs-text">
                    First Access Homes brings a one-of-a-kind service to Tulsa, offering buyers a rare opportunity to secure high-quality, affordable homes before they hit the market. In partnership with Spark Equity Homes, we consistently provide beautifully renovated homes to the community. As a relationship-driven business, we’re committed to helping buyers find great homes with less competition, making the process smoother and more accessible.
                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    No Bidding Wars
                </h3>
                <p class="cs-item-text">
                    Get early access to homes before they go public, reducing competition and stressful bidding wars.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Smoother Transactions
                </h3>
                <p class="cs-item-text">
                    Work directly with the seller for a hassle-free experience without market frenzy delays.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/hand.svg" alt="icon" width="24" height="24">
                    </picture>
                    Save with Lender Incentives
                </h3>
                <p class="cs-item-text">
                    Unlock special financing options and seller incentives that can save you thousands.
                </p>
            </li>
        </ul>
    </div>
</section>
                                




<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Brooklyn Simmons
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Cameron Williamson
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
    </div>
</section>
                                
                                
                                
                                
                                
    {% include 'components/cta.html' %}
{% endblock %}