---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-2041">
    <div class="cs-container">
        <div class="cs-content">
            
            <h1 class="cs-title">Exclusive Access to <br> Off-Market Homes First!</h1>
            <p class="cs-text">Join our list to see homes before they hit Zillow & the MLS.</p>
            <a href="" class="cs-button-solid"></a>
            <!--Bottom Corners-->
        </div>
        <form class="cs-form" id="cs-form-2041" name="Landing Form">
            <label class="cs-label">
                <div class="cs-flex">
                    Email <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="text" id="email-2041" name="email" placeholder="Your email">
            </label>
            <label class="cs-label">
                <div class="cs-flex">
                    Phone <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="tel" id="phone-2041" name="phone" placeholder="Phone number">
            </label>
            <label class="cs-label">
                <div class="cs-flex">
                    Date <span class="span cs-color">*</span>
                </div>
                <input class="cs-input" required type="date" id="date-2041" name="date" placeholder="Choose a date">
            </label>
            <button class="cs-button-solid cs-submit">Get Access</button>
        </form>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/David-hero-mobile.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/David.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/David.jpg" alt="meeting" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>



<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="services-1331">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our working process</span>
                <h2 class="cs-title">How Early Access Works for You</h2>
            </div>
            <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 1</span>
                    <h3 class="cs-h3">Join the List</h3>
                    <p class="cs-item-text">
                        Sign up with your email for exclusive early access
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 2</span>
                    <h3 class="cs-h3">Browse Pre-Listed Homes</h3>
                    <p class="cs-item-text">
                        Get notified when a new flip is coming soon
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-step">Step 3</span>
                    <h3 class="cs-h3">Make Your Move First</h3>
                    <p class="cs-item-text">
                        Schedule a viewing before the public
                    </p>
                </a>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/building-white.jpg" alt="building"
                width="1920" height="700" decoding="async" loading="lazy">
    </picture>
</section>
                                



<!-- ============================================ -->
<!--                    Events                    -->
<!-- ============================================ -->

<section id="events-1764">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Early Acesss</span>
            <h2 class="cs-title">Homes Coming Soon!</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png" alt="people" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Cardio Workout & Cross Combat</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Opening:</span> July 23, 2024
                        </span>
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Class Time:</span> 9.00am - 10.00am
                        </span>
                    </div>
                    <div class="cs-bar"></div>
                </div>
                <div class="cs-instructor">
                    <picture class="cs-portrait">
                        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-portrait.png" alt="portrait" height="32" width="32" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-instructor-info">
                        <h3 class="cs-name">David Fletcher</h3>
                        <span class="cs-job">Agent</span>
                    </div>
                    <span class="cs-price">$250,000</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png" alt="people" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Dead Lifting Pro State League</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Opening:</span> July 23, 2024
                        </span>
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Class Time:</span> 9.00am - 10.00am
                        </span>
                    </div>
                    <div class="cs-bar"></div>
                </div>
                <div class="cs-instructor">
                    <picture class="cs-portrait">
                        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-portrait.png" alt="portrait" height="32" width="32" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-instructor-info">
                        <h3 class="cs-name">David Fletcher</h3>
                        <span class="cs-job">Realtor</span>
                    </div>
                    <span class="cs-price">$350,000</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-4.png" alt="people" width="305" height="180">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Shed & Pedal Weight Loss Cycling Challenge</h3>
                    <div class="cs-details">
                        <span class="cs-opening">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-calendar.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Opening:</span> July 23, 2024
                        </span>
                        <span class="cs-time">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-event-clock.svg" alt="icon" width="24" height="24" aria-hidden="true">
                            <span class="cs-bold">Class Time:</span> 9.00am - 10.00am
                        </span>
                    </div>
                    <div class="cs-bar"></div>
                </div>
                <div class="cs-instructor">
                    <picture class="cs-portrait">
                        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-portrait.png" alt="portrait" height="32" width="32" loading="lazy" decoding="async">
                    </picture>
                    <div class="cs-instructor-info">
                        <h3 class="cs-name">David Fletcher</h3>
                        <span class="cs-job">Listing Agent</span>
                    </div>
                    <span class="cs-price">$180,000</span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                
                                
    {% include 'components/cta.html' %}
{% endblock %}